## Introduction

In this week’s discussion section, we will be using the same dataset from our weekly lab - Water characteristics in the Hudson River after Hurricane Irene. However, rather than looking at a single predictor variable, we are going to add more! Can we improve our model if we add more variables?? Let’s find out.

## Data Loading

Access the same .xlsx file we used in lab this week. If you lost access to it, you can find the data here. Instead of looking at only the dissolved oxygen and turbidity data this time, we are also going to read in data on rainfall. Read in each of these sheets on the excel sheet as its own dataframe. Load the following libraries:

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
from ipywidgets import interact
import ipywidgets as widgets
from ipywidgets import interact, FloatSlider
from IPython.display import display, clear_output

In [2]:
# Load the data
file_path = 'data/hurricane.xlsx'
do_data = pd.read_excel(file_path, sheet_name = 5).drop(['Piermont D.O. (ppm)'], axis = 1)
rainfall_data = pd.read_excel(file_path, sheet_name = 'Rainfall').drop(['Piermont  Rainfall Daily Accumulation (Inches)'], axis = 1)
turbidity_data = pd.read_excel(file_path, sheet_name = 'Turbidity').drop(['Piermont Turbidity in NTU'], axis = 1)

## Data Wrangling

Perform the following data wrangling steps to get our data ready for our model.

1. Merge the three dataframes together. While merging, or after, drop all columns for the Piedmont location.
2. Update the column names to be shorter and not have spaces. Use snake case.
3. Make your date column a datetime obect.
4. Set the data as the index for the merged dataframe.

In [3]:
# 1. Merge dataframes
data = do_data.merge(rainfall_data)
data = data.merge(turbidity_data)

# Take a look
data.head(5)

,Date Time (ET),Port of Albany D.O. (ppm),Norrie Point D.O. (ppm),Port of Albany Rainfall Daily Accumulation (Inches),Norrie Point Rainfall Daily Accumulation (Inches),Port of Albany Turbidity in NTU,Norrie Point Turbidity in NTU
0,2011-08-25 00:00:00,7.68,7.81,0.0,0.0,4.0,9.3
1,2011-08-25 00:15:00,7.60,7.73,0.0,0.0,3.9,8.4
2,2011-08-25 00:30:00,7.57,7.63,0.0,0.0,4.3,7.9
3,2011-08-25 00:45:00,7.72,7.67,0.0,0.0,4.7,8.1
4,2011-08-25 01:00:00,7.74,7.63,0.0,0.0,4.4,8.4

In [4]:
# List column names for easy copy and paste
data.columns

Index(['Date Time (ET)', ' Port of Albany D.O. (ppm)',
       'Norrie Point D.O. (ppm)',
       ' Port of Albany Rainfall Daily Accumulation (Inches)',
       'Norrie Point  Rainfall Daily Accumulation (Inches)',
       ' Port of Albany Turbidity in NTU', 'Norrie Point Turbidity in NTU'],
      dtype='object')

In [5]:
# 2. Update column names for simplicity
data = data.rename(columns = {"Date Time (ET)":"date",
                              " Port of Albany D.O. (ppm)":"albany_DO",
                              "Norrie Point D.O. (ppm)":"norrie_DO",
                              " Port of Albany Rainfall Daily Accumulation (Inches)":"albany_rain",
                              "Norrie Point  Rainfall Daily Accumulation (Inches)":"norrie_rain",
                              " Port of Albany Turbidity in NTU":"albany_turbidity",
                              "Norrie Point Turbidity in NTU":"norrie_turbidity"})
# Easier way
# data.columns = ['date', 'albany_do', 'norrie_do', 'albany_rain', 'norrie_rain', 'albany_turbidity', 'norrie_turbidity']

data.columns

Index(['date', 'albany_DO', 'norrie_DO', 'albany_rain', 'norrie_rain',
       'albany_turbidity', 'norrie_turbidity'],
      dtype='object')

In [6]:
# 3. Make date column a datetime object
data.dtypes   # it already is!

date                datetime64[ns]
albany_DO                  float64
norrie_DO                  float64
albany_rain                float64
norrie_rain                float64
albany_turbidity           float64
norrie_turbidity           float64
dtype: object

In [11]:
# 4. Set the date as the index for the merged dataframe
data = data.set_index(data.date)
data = data.drop(['date'], axis = 1)
data.head()

,albany_DO,norrie_DO,albany_rain,norrie_rain,albany_turbidity,norrie_turbidity
date,,,,,,
2011-08-25 00:00:00,7.68,7.81,0.0,0.0,4.0,9.3
2011-08-25 00:15:00,7.60,7.73,0.0,0.0,3.9,8.4
2011-08-25 00:30:00,7.57,7.63,0.0,0.0,4.3,7.9
2011-08-25 00:45:00,7.72,7.67,0.0,0.0,4.7,8.1
2011-08-25 01:00:00,7.74,7.63,0.0,0.0,4.4,8.4

## Multiple Linear Regression

Now that our data is cleaned, let’s do the following to carry out a multiple linear regression.

1. Define your predictors and target variables.
2. Split the data into training and testing sets
3. Create and fit the model
4. Predict and Evaluate your model

In [8]:
# 1. Define predictors and target variables
X = data[["albany_rain", "albany_DO"]]
y = data[["albany_turbidity"]]

# 2. Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

# 3. Create and fit the model
model = LinearRegression().fit(X_train, y_train)

# 4. Predict and evaluate
y_pred = model.predict(X_test)

print(f"RMSE: {np.sqrt(mean_squared_error(y_test, y_pred))}")
print(f"R-squared: {r2_score(y_test, y_pred)}")

RMSE: 221.9143474905527
R-squared: 0.490738951845751

## Create a Widget for updating the predictor and target variables.

To play around with our model a bit more and visualize different scenarios, we will create a widget using the `ipywidgets` library

1. Create the four different pieces to the widget: the predictor selector, the target selector, the evaluate button, and the output
2. Wrap our worfklow into a function called evaluate_model(). This function will run a linear regression model based on what the user selects as predictors and the outcome variable. It will print the , MSE, and a scatterplot of the actual versus predicted target variable.
3. Create a warning for your widget to ensure that the user does not select the same variable as both a predictor variable and a target variable.
4. Play around with your widget and see how your  changes based on your selected variables!

In [13]:
# Create a widget for selecting predictors
predictor_selector = widgets.SelectMultiple(
    options = data.columns,
    value = [data.columns[0]],
    description = 'Predictors'
)

# Create a dropdown for selecting the target variable
target_selector = widgets.Dropdown(
    options = data.columns,
    value = data.columns[1],
    description = 'Target'
)

# Button to evaluate the model
evaluate_button = widgets.Button(description = 'Evaluate Model')

# Output widget to display results
output = widgets.Output()

# Define the function to handle button clicks
def evaluate_model(b):
    with output:
        clear_output(wait=True) # Clear output of display area
        
        # Make sure the target is not in the predictors
        selected_predictors = [item for item in predictor_selector.value]
        if target_selector.value in selected_predictors :
            print("Target variable must not be in the predictors.")
            return
        
        # Prepare the data
        X = data[selected_predictors]
        y = data[target_selector.value]
        
        # Split data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)
        
        # Create and fit the model
        model = LinearRegression().fit(X_train, y_train)
        
        # Predict and calculate R^2 and MSE
        y_pred = model.predict(X_test)
        r2 = r2_score(y_test, y_pred)
        mse = mean_squared_error(y_test, y_pred)
        
        # Display the R^2 score and MSE
        print(f"R^2: {r2:.4f}")
        print(f"MSE: {mse:.4f}")
        
        #plt.scatter()
        
# Display the widgets and connect the button to the function
display(predictor_selector, target_selector, evaluate_button, output)
evaluate_button.on_click(evaluate_model)

SelectMultiple(description='Predictors', index=(0,), options=('albany_DO', 'norrie_DO', 'albany_rain', 'norrie…

Dropdown(description='Target', index=1, options=('albany_DO', 'norrie_DO', 'albany_rain', 'norrie_rain', 'alba…

Button(description='Evaluate Model', style=ButtonStyle())

Output()